
			<table class="left"><tr><td>
						<p class="left">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<em>about</em>
						<br>
						<a href="/why">why?</a><br>

						<p class="left">
						&nbsp;&nbsp;&nbsp;&nbsp;
						<em>recipes</em>
						<br>
						<a href="/recipes/crispy-pork">crispy pork</a><br>
						<a href="/recipes/lemony-chickpea">lemony chickpea stir-fry</a><br>
						<a href="/recipes/pancakes">impromptu pancakes</a><br>
						<a href="/recipes/smack-pie">smack pie</a><br>
						<a href="/recipes/villanelle">the villanelle</a>

				</td></tr>
			</table>

